<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <title>DRAS-TIC Testbed at UMD</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/js/d3.layout.cloud.js"></script>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DRAS-TIC Testbed at UMD</a>
        </div>
        <div class="navbar-collapse collapse">
          <!--<ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form-->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/">Overview</a></li>
            <li id="append-sims" class="inactive"><a href="http://drastic-testbed.umd.edu:3000/">Grafana (UMD Login)</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Digital Repositories at Scale that Invite Computation</h1>
          <div class="row placeholders">
            <div class="col-md-4 placeholder">
              <h3>Purpose</h3>
              <p>Our goal is to prove the performance of digital repository architectures under emerging next-generation workloads.
                We do this by the building and testing various implementations of the Linked Data Platform (LDP), Memento, and Fedora 5 family of
                repository specifications. Testing workloads are based on systems requirements gathered in early 2018 from our institutional partners.</p>
              <h3>Studied Systems</h3>
              <p>
                <ul style="padding:0; margin:0;">
                  <li>Trellis LDP (Cassandra) <a href="https://www.trellisldp.org/">site</a>, <a href="https://github.com/ajs6f/trellis-cassandra">repo</a></li>
                  <li>Trellis LDP (PostgreSQL) <a href="https://www.trellisldp.org/">site</a>, <a href="https://github.com/trellis-ldp/trellis-ext-db">repo</a></li>
                  <li>Fedora 5 Reference Implementation (TBA) <a href="https://wiki.duraspace.org/display/FF/Fedora+Repository+Home">site</a>, <a href="https://github.com/fcrepo4/fcrepo4">repo</a></li>
                </ul>
              </p>
            </div>
            <div id="formatDist" class="col-md-4 placeholder">
              <h3>Institutional Partners</h3>
              <p>
                <ul style="padding:0; margin:0;">
                  <li><a href="/static/Interviews_Summary.pdf">Summary of Partner Requirements</a><br /></li>
                  <li>University of Maryland Libraries - <a href="/static/UMD_Interview_Notes.pdf">interview notes</a></li>
                  <li>Georgetown University Libraries - <a href="/static/Georgetown_Interview_Notes.pdf">interview notes</a></li>
                  <li>The Smithsonian Institution (co-creators of Trellis Cassandra) - <a href="/static/SI_Interview_Notes.pdf">interview notes</a></li>
                  <li>Amherst College (creators of Trellis LDP)</li>
                  <li>National Center for Supercomputing Applications (creators of Brown Dog)</li>
                </ul>
              </p>
            </div>
            <div id="formatByteDist" class="col-md-4 placeholder">
              <h3>Use Cases</h3>
              <p>
                <ul style="list-style-type: none; padding:0; margin:0;">
                  <li>Digital Manuscripts Collection</li>
                  <li>Big Scientific Dataset</li>
                  <li>Citizen Science Image Curation</li>
                  <li>Social Media Archives</li>
                </ul>
              </p>
              <h3>Performance Workloads</h3>
              <p>
                <ul style="padding:0; margin:0;">
                  <li>Large file ingest</li>
                  <li>Deeply nested collection ingest and update</li>
                  <li>Very large folders ingest and update (AKA "Supernode")</li>
                  <li>Incremental scaling of storage nodes</li>
                  <li>Dynamic scaling of front-end nodes</li>
                  <li>Pervasive metadata and feature extraction (Brown Dog)</li>
                  <li>On-demand conversion to access formats (Brown Dog)</li>
                </ul>
              </p>
            </div>
          </div>
          <div class="row placeholders">
          <div class="col-*-6">
          <h2 class="sub-header">Recent Results</h2>
              <table class="table table-striped">
                <thead>
                  <tr><th>Date</th><th>LDP System</th><th>Nodes<br />Front / Back</th><th>Simulation</th><th>Tester<br />Nodes</th><th>Requests<br />OK / KO</th><th>Avg / Max / Min</th><th>Details</th></tr>
                </thead>
                <tbody id="recent_sims">
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/docs.min.js"></script>
    <script type="text/javascript">
    var data;
    var snapshots = {};
    $.when(
      $.getJSON("/recent_sims", function(simdata) {
        data = simdata;
      }),
      $.getJSON("/list_snapshots", function(snapdata) {
        for(var snap of snapdata) {
          snapshots[snap['name']]=snap['key'];
        }
        console.log(snapshots)
      })
    ).then(function() {
      console.log(data);
      $.each(data, function (index, obj) {
        var name = obj['key'];
        var sim = obj['sim_class']['buckets'][0]['key'];
        var to_ts = obj['Requests']['last_ts']['value'] + 60000;
        var from_ts = obj['Requests']['first_ts']['value'] - 60000;
        var time = obj['Requests']['first_ts']['value'];
        var dt = new Date();
        dt.setTime(time);
        var ok = 0;
        var ko = 0;
        for(var st of obj.Requests.status.buckets) {
            if(st.key == "OK") {
              ok = st.doc_count;
            } else if (st.key == "KO") {
              ko = st.doc_count;
            }
        }
        var count = Math.round(obj['Requests']['req_duration_stats']['count']);
        var avg = Math.round(obj['Requests']['req_duration_stats']['avg']);
        var max = Math.round(obj['Requests']['req_duration_stats']['max']);
        var min = Math.round(obj['Requests']['req_duration_stats']['min']);
        var subject_docker_name = obj['subject_docker_name']['buckets'][0]['key'];
        var subject_commit = obj['subject_commit']['buckets'][0]['key'];
        var subject_docker_tag = obj['subject_docker_tag']['buckets'][0]['key'];
        var frontend_nodes = obj['frontend_nodes']['buckets'][0]['key'];
        var backend_nodes = obj['backend_nodes']['buckets'][0]['key'];
        var testworker_nodes = obj['testworker_nodes']['buckets'][0]['key'];
        var grafana_link = `http://drastic-testbed.umd.edu:3000/d/MwnPtQfiz/ldp-performance-test-dashboard?orgId=1&from=${from_ts}&to=${to_ts}`;
        var snapshot_link = null;
        if(name in snapshots) {
          snapshot_key = snapshots[name];
          snapshot_link = `http://drastic-testbed.umd.edu:3000/dashboard/snapshot/${snapshot_key}`;
        }
        var el = "<tr><td>"+dt.getFullYear()+"-"+(dt.getMonth()+1)+"-"+dt.getDate()+"</td><td>"+subject_docker_name+":"+subject_docker_tag+" (<a href='#'>"+subject_commit+"</a>)</td><td>"+frontend_nodes+" / "+backend_nodes+"</td><td>"+sim+"</td><td>"+testworker_nodes+"</td><td>"+ok+" / "+ko+"</td><td>"+avg+" / "+max+" / "+min+" ms</td><td>";
        if(snapshot_link != null) {
          el += "<a title='Grafana snapshot (public)' href='"+snapshot_link+"'><img height='35px' width='35px' src='/static/graph-icon.png'/></a> ";
        } else {
          el += name+" ";
        }
        el += "<a title='Grafana dashboard (private)' href='"+grafana_link+"'><emphasis>i</emphasis></a></td></tr>";
        $(el).appendTo('#recent_sims');
      });
    });

    	var simulationResults;

    	// d3.json("/rest/reports/", function(error, json) {
    	//   if (error) return console.warn(error);
    	//   simulationResults = json["simulation-results"];
    	//   visualizeit();
    	// });

    	function visualizeit() {
    		 // create the table header
    		var simstable = d3.select("#sims > tbody");
        // alert(simulationResults.length);
        var tr = simstable.selectAll("tr")
    		.data(d3.values(simulationResults)).enter()
        .append("tr");
        tr.append("td").html(function(d) {
          return '<a href="/rest/results/'+d["gatling-results-folder"]+'/index.html">'+d["simulation-name"]+'</a>'});
        tr.append("td").html(function(d) {
          return '<td>'+d["numberOfRequests"]["ko"]+'/'+d["numberOfRequests"]["total"]+'</td>'})
        .attr("style", function(d) { return (d["numberOfRequests"]["ko"] > 0) ? "background-color: pink" : ""; });
        tr.append("td").html(function(d) {
            return '<td>'+d["date-time"]["$date"]+ '</td>'});
    	}
    </script>
  </body>
</html>
