<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <title>DRAS-TIC Testbed at UMD</title>

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/js/d3.layout.cloud.js"></script-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DRAS-TIC Testbed at UMD</a>
        </div>
        <div class="navbar-collapse collapse">
          <!--<ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form-->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <!-- <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/">Overview</a></li>
            <li id="append-sims" class="inactive"><a href="http://drastic-testbed.umd.edu:3000/">Grafana (UMD Login)</a></li>
          </ul>
        </div> -->
        <div class="col-sm-9 col-md-10 main">
          <h1 class="page-header">Digital Repositories at Scale that Invite Computation</h1>
          <div class="row placeholders">
            <div class="col-md-4 placeholder">
              <h3>Purpose</h3>
              <p>Our goal is to prove the performance of digital repository architectures under emerging next-generation workloads.
                We do this by the building and testing various implementations of the Linked Data Platform (LDP), Memento, and Fedora 5 family of
                repository specifications. Testing workloads are based on systems requirements gathered in early 2018 from our institutional partners.</p>
              <h3>Studied Systems</h3>
              <p>
                <ul style="padding:0; margin:0;">
                  <li>Trellis LDP (Cassandra)
                    <ul>
                      <li><a href="https://www.trellisldp.org/">Website</a>, <a href="https://github.com/ajs6f/trellis-cassandra">Repository</a></li>
                      <li>Fedora API Test Suite: <a href="/static/Fedora-reports/trellis-cassandra/report/testsuite-execution-report.html">Report</a>,
                        <a href="/static/Fedora-reports/trellis-cassandra/test-output/index.html">TestNG Detail</a>
                      </li>
                    </ul>
                  </li>
                  <li>Trellis LDP (PostgreSQL)
                    <ul>
                      <li><a href="https://www.trellisldp.org/">Website</a>, <a href="https://github.com/trellis-ldp/trellis-ext-db">Repository</a></li>
                      <li>Fedora API Test Suite: <a href="/static/Fedora-reports/trellis-ext-db/report/testsuite-execution-report.html">Report</a>,
                        <a href="/static/Fedora-reports/trellis-ext-db/test-output/index.html">TestNG Detail</a>
                      </li>
                    </ul>
                  </li>
                  <li>Fedora 5 Reference Implementation (TBA)
                    <ul>
                      <li><a href="https://wiki.duraspace.org/display/FF/Fedora+Repository+Home">Website</a>,
                        <a href="https://github.com/fcrepo4/fcrepo4">Repository</a></li>
                    </ul>
                  </li>
                </ul>
              </p>
            </div>
            <div id="formatDist" class="col-md-4 placeholder">
              <h3>Institutional Partners</h3>
              <p>
                <ul style="padding:0; margin:0;">
                  <li><a href="/static/Interviews_Summary.pdf">Summary of Partner Requirements</a><br /></li>
                  <li>University of Maryland Libraries - <a href="/static/UMD_Interview_Notes.pdf">interview notes</a></li>
                  <li>Georgetown University Libraries - <a href="/static/Georgetown_Interview_Notes.pdf">interview notes</a></li>
                  <li>The Smithsonian Institution (co-creators of Trellis Cassandra) - <a href="/static/SI_Interview_Notes.pdf">interview notes</a></li>
                  <li>Amherst College (creators of Trellis LDP)</li>
                  <li>National Center for Supercomputing Applications (creators of Brown Dog)</li>
                </ul>
              </p>
            </div>
            <div id="formatByteDist" class="col-md-4 placeholder">
              <h3>Use Cases</h3>
              <p>
                <ul style="list-style-type: none; padding:0; margin:0;">
                  <li>Digital Manuscripts Collection</li>
                  <li>Big Scientific Dataset</li>
                  <li>Citizen Science Image Curation</li>
                  <li>Social Media Archives</li>
                </ul>
              </p>
              <h3>Performance Workloads</h3>
              <p>
                <ul style="padding:0; margin:0;">
                  <li>Large file ingest</li>
                  <li>Deeply nested collection ingest and update</li>
                  <li>Very large folders ingest and update (AKA "Supernode")</li>
                  <li>Incremental scaling of storage nodes</li>
                  <li>Dynamic scaling of front-end nodes</li>
                  <li>Pervasive metadata and feature extraction (Brown Dog)</li>
                  <li>On-demand conversion to access formats (Brown Dog)</li>
                </ul>
              </p>
            </div>
          </div>
      </div>
    </div>
    <div style="clear: both"></div>
    <div class="row">
      <h2 style="text-align: center">Test Results</h2>
      <div class="span12" id="testresults"></div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    <script src="/static/css/jquery.dataTables.min.css"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/docs.min.js"></script>
    <script src="/static/js/testbed.js"></script>
    <script type="text/javascript">
    var filterTermOrder = [
      "subject_docker_name",
      "subject_docker_tag",
      "subject_commit",
      "simulation",
      "testbed_commit",
      "testworker_nodes",
      "frontend_nodes",
      "backend_nodes",
      "cassandra_replication_factor",
      "cassandra_max_chunk_size",
      "cassandra_binary_read_consistency",
      "cassandra_binary_write_consistency",
      "cassandra_rdf_write_consistency",
      "cassandra_rdf_read_consistency",
      "jms_use_queue",
      "testbed_git_url",
      "subject_git_url"
    ];

    $(function() {
      console.log("Starting..");
      var testresults = new TestResults(filterTermOrder);
      testresults.buildTable();
    });

  	function visualizeit() {
  		 // create the table header
  		var simstable = d3.select("#sims > tbody");
      // alert(simulationResults.length);
      var tr = simstable.selectAll("tr")
  		.data(d3.values(simulationResults)).enter()
      .append("tr");
      tr.append("td").html(function(d) {
        return '<a href="/rest/results/'+d["gatling-results-folder"]+'/index.html">'+d["simulation-name"]+'</a>'});
      tr.append("td").html(function(d) {
        return '<td>'+d["numberOfRequests"]["ko"]+'/'+d["numberOfRequests"]["total"]+'</td>'})
      .attr("style", function(d) { return (d["numberOfRequests"]["ko"] > 0) ? "background-color: pink" : ""; });
      tr.append("td").html(function(d) {
          return '<td>'+d["date-time"]["$date"]+ '</td>'});
  	}
    </script>
  </body>
</html>
